<!DOCTYPE html>
<html>
<head>
  <title>Main</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>
  .log{
    width: 100%;
    height: 120px;
    background-color:#2e3032;
    color:#9be832;
    padding-left:25px;
  }
</style>
<body>
  <% include ./top.ejs %>
  <hr>
  <div class="container">
    <h3 class="font-weight-bold text-primary">Main</h3>
    <hr>
    <div style="margin-bottom: 30px;">
      <h4 class="text-dark">Process Log</h4>
      <div class="border overflow-auto log" id="log"></div>
    </div>
    <hr>
    <div style="margin-bottom: 30px;">
      <h4 class="text-dark">OS / Mem / Disk Information</h4>
      <table class="table">
        <thead>
          <th>OS</th>
          <th>Mem (used / total)</th>
          <th>Disk(used / total / free)</th>
        </thead>
        <tbody>
          <td><%=system_info.os_info.type%> <%=system_info.os_info.arch%> <%=system_info.os_info.platform%></td>
          <td><%=system_info.mem_info.freemem%> GB / <%=system_info.mem_info.totalmem%> GB</td>
          <td>
            <%=(system_info.disk_info.total - system_info.disk_info.free).toFixed(1) %> GB /
            <%=system_info.disk_info.total%> GB / <b><%=system_info.disk_info.free%> GB</b>
          </td>
        </tbody>
      </table>
    </div>
    <hr>
    <div>
      <h4 class="text-dark">CPU Information (Processor: <%=system_info.cpu_info.length%>)</h4>
      <table class="table">
        <thead>
          <tr>
            <th>model</th>
            <th>speed</th>
            <th>user</th>
            <th>nice</th>
            <th>sys</th>
            <th>idle</th>
          </tr>
        </thead>
        <tbody>
          <% system_info.cpu_info.forEach(cpu => { %>
          <tr>
            <td><%=cpu.model%></td>
            <td><%=cpu.speed%></td>
            <td><%=cpu.times.user%></td>
            <td><%=cpu.times.nice%></td>
            <td><%=cpu.times.sys%></td>
            <td><%=cpu.times.idle%></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</body>
<script src="/socket.io/socket.io.js"></script>

<script>
  $(() => {
    var logDiv = document.getElementById('log');
    var socket =io('http://localhost:3000');
    //ffmpeg 컨버팅에 대한 진행 작업 로그 수신
    socket.on('progress', data => {
      var parse = `${data.log}`;
      var p = document.createElement('font');
      p.innerHTML = parse;
      logDiv.appendChild(p);
      logDiv.appendChild(document.createElement('br'));
      logDiv.scrollTop = logDiv.scrollHeight;
    });
  });
</script>
</html>