<!DOCTYPE html>
<html>

<head>
    <title>Main</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <% include ./top.ejs %>
    <hr>
    <div class="container">
        <h3 class="font-weight-bold text-primary">Tag List</h3>
        <hr>
        <div class="card" style="margin-bottom: 50px">
            <div class="card-body">
                <h5 class="text-secondary">New Tag</h5>
                <form id='tagInsertForm' method='POST' action='/insertTag'>
                    <div class="input-group">
                        <input type='text' class="form-control" name='name' />
                        <div class="input-group-append">
                            <input type='button' class="btn btn-outline-primary" value='add tag' onclick='tagInsertSubmit()'>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tag Name</th>
                        <th>Used Group Count</th>
                        <th>Edit</th>
                        <th>Del</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(tags === null){ %>
                        <td colspan="4">
                            <div class="jumbotron jumbotron-fluid">
                                <div class="container">
                                    <h1 class="display-4">No Tag's</h1>
                                    <p class="lead">Please Add Tag</p>
                                </div>
                            </div>
                        </td>
                    <% } else { %>
                    <% tags.forEach(tag => { %>
                    <tr>
                        <td>
                            <span id="span_<%= tag['tag'].id %>">
                                <a href="/videoGroup/tag/<%= tag['tag'].id %>"><%= tag['tag'].name %></a>
                            </span>
                            <input type="text" hidden class="form-control" id="input_<%= tag['tag'].id %>" value="<%= tag['tag'].name %>">
                        </td>
                        <td><%= tag['used_count'] %></td>
                        <td>
                            <input type="button" id="btn_edit_<%= tag['tag'].id %>" class="btn btn-outline-primary" onclick='ctNameEdit(<%= tag['tag'].id %>)' value="Edit">
                            <div class="btn-group-vertical">
                                <input type="button" hidden id="btn_cancel_<%= tag['tag'].id %>" class="btn btn-outline-warning" hidden onclick="ctNameEditCancel(<%= tag['tag'].id %>)" value="Cancel">
                                <input type="button" hidden id="btn_submit_<%= tag['tag'].id %>" hidden class="btn btn-outline-success" onclick="tagUpdateSubmit(<%= tag['tag'].id %>)" value="Submit">
                            </div>
                        </td>
                        <td><input type="button" class="btn btn-outline-danger" onclick='tagDelete(<%=tag['tag'].id %>, "<%=tag['tag'].name %>")' value="delete"></td>
                    </tr>
                    <% }); %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/public/js/common.js"></script>
</html>