<!DOCTYPE html>
<html>

<head>
    <title>Main</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <% include ./top.ejs %>
    <hr>
    <div class="container">
        <div>
            <div class="card">
                <div class="row no-gutters">
                  <div class="col-md-2">
                    <img width="100%" src="/hls/<%=video_group.unique_id%>/<%=video_group.img%>">
                  </div>
                  <div class="col-md-10">
                    <div class="card-body">
                        <h4 class="text-secondary">Video Group Info</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Service YN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><%=video_group.title%></td>
                                    <td style="text-align: center;">
                                        <% if(video_group.service_yn) { %>
                                            <font class="text-primary font-weight-bold">ON AIR</font>
                                        <% } else { %>
                                            <font class="text-danger font-weight-bold">STOP</font>
                                        <% } %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div>
            <h3 class="font-weight-bold text-primary">video's profile</h3>
            <hr>
            <div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-primary">Stream Info</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="font-weight-bold text-secondary">Thumbnail</label>
                                <img style="max-width: 100%;" id='img_view' src="/hls/<%= video.video_group_unique_id %>/<%= video.unique_id %>/<%= video.m3u8%>.jpg" onerror="this.src='/public/images/defaut_img.png'">
                            </div>
                            <div class="col-sm-8">
                                <label class="font-weight-bold text-secondary">Preview</label><br>
                                <input type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#video_preview_modal" onclick="videoPreviewSet('<%=video.title %>','<%=video.video_group_unique_id %>', '<%=video.unique_id %>', '<%=video.m3u8 %>')" value="Preview">
                                <span style="color: red;">The video path cannot be changed.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <form id="videoUpdateForm" method="POST" action='/updateVideo'>
                <input type="hidden" name="unique_id" value="<%= video.unique_id %>">
                <input type="hidden" name="video_group_unique_id" value="<%=video_group.unique_id%>">
                <div>
                    <h4 class="text-primary">title</h4>
                    <textarea class="form-control" id="title" name="title" rows="2"><%= video.title %></textarea>
                </div>
                <hr>
                <div>
                    <h4 class="text-primary">subscript</h4>
                    <textarea class="form-control" id="subscript" name="subscript" rows="2"><%= video.subscript %></textarea>
                </div>
                <hr>
                <div>
                    <h4 class="text-primary">Release Date </h4>
                    <input class="form-control" type="date" id="release_date" name="release_date" value="<%= video.release_date %>"/>
                </div>
                <hr>
                <input style="margin:auto; display:block;" class="btn btn-primary btn-lg btn-block" type="button" value="submit" onclick="videoUpdateValid()">
            </form>
        </div>
    </div>
    <!-- video preview modal -->
    <div class="modal fade" id="video_preview_modal" tabindex="-1" role="dialog" onclick="videoPreviewClose()" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">[Stream]: <span id="preview_video_title"></span></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <video id="preview_video" style="width: 100%;" controls></video>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" >Close</button>
            </div>
          </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

<script src="/public/js/common.js"></script>

</html>