<!DOCTYPE html>
<html>

<head>
  <title>Main</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
</head>

<body>
  <% include ./top.ejs %>
  <hr>
  <div class="container">
    <div class="row" style="margin-bottom: 15px;">
      <div class="col-sm-9">
        <h3 class="font-weight-bold text-primary">Video Group's Category: [<%=category.name %>]</h3>
      </div>
      <div class="col-sm-3">
        <input type="button" class="btn btn-outline-primary" onclick="javascript:window.location.href='/videoGroup_add'" value="add new group">
      </div>
    </div>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Img</th>
            <th>Title</th>
            <th>Categories</th>
            <th>Tag's</th>
            <th>Service</th>
            <th>Video's</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% if(video_groups === null){ %>
            <td colspan="7">
              <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Unused category</h1>
                  <p class="lead">This category is not used in any video group.</p>
                </div>
              </div>
            </td>
          <% }else{ %>
          <% video_groups.forEach(video_group => { %>
          <tr>
            <td>
              <img class="img-thumbnail" style="width: 150px;" src="/hls/<%= video_group['video_group'].unique_id %>/<%= video_group['video_group'].img %>">
            </td>
            <td><a href="/video/<%= video_group['video_group'].unique_id %>"><%= video_group['video_group'].title %></a></td>
            <td>
              <% video_group['categories'].forEach(category =>{ %>
                <a href="/videoGroup/category/<%=category.id%>"><%=category.name%></a><br>
              <%});%>
            </td>
            <td>
              <% video_group['tags'].forEach(tag =>{ %>
                <a href="/videoGroup/tag/<%=tag.id%>"><%=tag.name%></a><br>
              <%});%>  
            </td>
            <td>
              <select class="form-control form-control-sm" unique_id="<%=video_group['video_group'].unique_id %>" onchange="serviceSwitch(this)">
                <option <% if(!video_group['video_group'].service_yn){ %> selected <%}%> value="0" >STOP</option>
                <option <% if(video_group['video_group'].service_yn){ %> selected <%}%> value="1">ON AIR</option>
              </select>
            </td>
            <td><%= video_group['video_count'] %></td>
            <%= console.log(video_group['video_count']); %>
            <td>
              <div class="btn-group-vertical">
                <a href="/video/<%= video_group['video_group'].unique_id %>" class="btn btn-outline-success btn-sm">Video List</a>
                <a href="/videoGroup_edit/<%=video_group['video_group'].unique_id %>" class="btn btn-outline-primary btn-sm">edit</a>
                <a href="javascript:deleteVideoGroup('<%=video_group['video_group'].unique_id %>')" class="btn btn-outline-danger btn-sm">delete</a>
              </div>
            </td>
          </tr>
          <%}); %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/public/js/common.js"></script>

</html>