<!DOCTYPE html>
<html>

<head>
    <title>Main</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <!-- jquery ui -->
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script> 
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
</head>

<body>
    <% include ./top.ejs %>
    <hr>
    <div class="container">
        <h3 class="font-weight-bold text-primary">Video</h3>
        <hr>
        <h4 class="text-dark">Video Group Info</h4>
        <div>
            <div class="card">
                <div class="row no-gutters">
                  <div class="col-md-2">
                    <img width="100%" src="/hls/<%=video_group.unique_id%>/<%=video_group.img%>">
                  </div>
                  <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title"><%=video_group.title%></h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Service YN</th>
                                    <th>Categories</th>
                                    <th>Tags</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">
                                        <% if(video_group.service_yn) { %>
                                            <font class="text-primary font-weight-bold">ON AIR</font>
                                        <% } else { %>
                                            <font class="text-danger font-weight-bold">STOP</font>
                                        <% } %>
                                    </td>
                                    <td>
                                        <% categories.forEach((category) =>{ %>
                                        <%=category.name %><br>
                                        <% }); %>
                                    </td>
                                    <td>
                                        <% tags.forEach((tag) =>{ %>
                                        <%=tag.name %><br>
                                        <% }); %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <input class="btn btn-outline-primary" style="margin-left:auto; display:block;" type="button" onclick="javascript:location.href='/video_add/<%=video_group.unique_id%>'"value="Add New Video">
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <hr>
        <h4 class="text-dark">Video Stream List</h4>
        <% if(videos.length <= 0) { %>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">No Video's</h1>
                  <p class="lead">Please Add Video.</p>
                </div>
              </div>
        <% } else { %>
        <div id="sortable" video_group_unique_id='<%=video_group.unique_id%>'>
        <% videos.forEach((video) => { %>
            <div class="card ui-state-default" list_level='<%=video.list_level %>' unique_id='<%=video.unique_id %>'>
                <div class="row no-gutters">
                    <div class="col-md-4" >
                        <img class="card-img mw-100" style="width: 100%;" src='/hls/<%=video.video_group_unique_id %>/<%=video.unique_id %>/<%=video.m3u8 %>.jpg'>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">
                                <b class="text-primary">Title</b> : <%=video.title %>
                                <br>
                                <b class="text-primary">Subscript</b> : <%=video.subscript %>
                                <br>
                                <b class="text-primary">Release Date</b> : <%=video.release_date%>
                                <br>
                                <b class="text-primary">Views</b> : <%=video.view_count%>
                            </p>
                            <input type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#video_preview_modal" onclick="videoPreviewSet('<%=video.title %>','<%=video.video_group_unique_id %>', '<%=video.unique_id %>', '<%=video.m3u8 %>')" value="Preview">
                            <input type="button" class="btn btn-sm btn-outline-primary" onclick="window.location.href='/video_edit/<%=video.unique_id %>'" value="Edit">
                            <input type="button" class="btn btn-sm btn-outline-danger" onclick="videoDelete('<%=video.unique_id %>','<%=video.title %>' )" value="Del">
                            <input type="button" class="btn btn-sm btn-outline-secondary" onclick="copyHlsAttr(this,'<%=video.video_group_unique_id %>', '<%=video.unique_id %>', '<%=video.m3u8 %>')" value="Copy hls Addr">
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
        </div>
        <% }%>
    </div>
    <!-- preview video-->
    <div class="modal fade" id="video_preview_modal" tabindex="-1" role="dialog" onclick="videoPreviewClose()" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Title <span id="preview_video_title"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <video id="preview_video" style="width: 100%;" controls></video>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" >Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="/public/js/common.js"></script>
<script>
    $(() => {
        //sort change event
        $("#sortable").sortable({
            start: function(event, ui){
                $(this).attr('list_level', ui.item.attr('list_level'));
            },
            update: function(event, ui){
                var video_group_unique_id = $(this).attr('video_group_unique_id');
                var old_ord = $(this).attr('list_level');
                var new_ord = Number(ui.item.index());
                var unique_id = ui.item.attr('unique_id');
                updateVideoSort(new_ord, old_ord, video_group_unique_id, unique_id);
            }
        });

        $("#sortable").disableSelection();
    });
</script>
</html>